<div n:if="$view && $groups" n:class="menu-container, isset($args[class]) ? $args[class]"{ifset $args[id]} id="{$args[id]}"{/ifset}>
    <dl n:if="$group->allowed" n:foreach="$groups as $group">
        <dt n:class="$group->itemHidden ? 'itemHidden'"><a class="ajax" data-ajax-off="history" n:href="scrollGroup $group->name">{_'menu.'.$group->name.'.title'}</a></dt>
        <dd n:if="$item->allowed" n:foreach="$group->items as $item" n:class="$group->itemHidden ? 'itemHidden'">
            <a
                n:class="$item->isCurrent ? active, $item->type"
                href="{plink $item->link, (expand) $item->arguments}"
                {if $item->toBlank}target="_blank"{/if}>
                {_'menu.'.$item->name} <span n:if="!empty($item->count)">({$item->count})</span></a>
        </dd>
    </dl>
</div>
