<div n:if="$view" n:class="isset($args[class]) ? $args[class]"{ifset $args[id]} id="{$args[id]}"{/ifset}>
    <ul>
        {ifset $title}
            <li class="breadcrumb-title">{$title}</li>
        {/ifset}
        {foreach $links as $link}
            <li>
                <span n:if="!$iterator->isFirst()" n:ifset="$delimiter">{$delimiter}</span>
                {if $link->icon !== null}
                    <a
                            n:class="fa,'fa-'.$link->icon"
                            title="{$link->name}"
                            {if $link->link !== null}href="{plink $link->link, (expand) $link->arguments}"
                            {else}href="{plink this}"{/if}></a>
                {else}
                    <a
                            {if $link->link !== null}href="{plink $link->link, (expand) $link->arguments}"
                            {else}href="{plink this}"{/if}>
                        {$link->name}
                    </a>
                {/if}
            </li>
        {/foreach}
    </ul>
</div>